<section>

  <h3>Search By Region</h3>

  <hr>

  <button
    class="btn me-2"
    *ngFor="let region of regions"
    (click)="searchByRegion(region)"
    [disabled]="loading"
    [ngClass]="{
      'btn-primary': selectedRegion == region ,
      'btn-outline-primary': selectedRegion != region
    }"
  >
    {{ region }}
  </button>

  <hr>

  <div class="box mt-3">

    <loader *ngIf="loading"></loader>

    <country-table
      *ngIf="!loading"
      [countries]="countries"
    ></country-table>

  </div>

</section>
